

.form-section{
	// display: block;
	// display
	min-width: min-content;
	width: 100%;
	max-width: 300px;
	// max-width: ;
	border-bottom: 1px solid black;
	// margin: 1rem 0;
	padding: 1rem ;
	&:last-child {
		border: none;
	}
}

.form-control {
	display: flex;
	flex-direction: column;
	width: 100%;

	// align-items: center;
	margin-bottom: 1rem;
	// max-width: 200;

	&:last-child {
		margin-bottom: 0;
	}

	input, select {
		height: 2rem;
		text-align: center;
	}
}



.screenshot{

	width: 100%;

	// height: ;
  
  &:hover{
    background-color: black;
  }
  
  &:active{
    background-color: black;
  }

}