@import "./mixins";

.app {
	width: 100vw;
	height: 100vh;
	display: flex;
	overflow: hidden;

	background-color: var(--color-primary-background);
}

.main {
	// border: 1px solid black;
	display: inline-block;
	flex-grow: 1;
	position: relative;
}

.section {
	@include active(flex);
	flex-direction: column;
	position: relative;
	// padding-top: 50px;
}

.sub-section {
	@include active(flex);

	flex-direction: column;
	position: relative;
	background-color: white;

}

