@import './mixins';

.nav {

  display: flex;
	background-color: var(--color-secondary-background);
  

  button{
    @include button-size('small')
  }
	// height: 50px;
}

.nav-top {


	box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 20%);
  button{
    border: none;
    cursor: pointer;

    @include button-size("midle");
    @include button-colors(
      var(--color-alpha-container),
      var(--color-alpha-container-hover),
      var(--color-alpha-container-action),
      var(--color-alpha-container-on)
    );


    &.select {
      color: var(--color-primary-text-on);
    }

    @include press-button;
  }
  
}
