@mixin active($display) {
	display: none;

	&.active {
		display: $display;
	}
}

.recharge {
	display: flex;
	border: 1px solid black;

	padding: 10px;

	align-items: center;
	// justify-content: center;
	// min-width: 250px;

	width: 100%;
	max-width: 300px;

	&.locked {
		border: 1px solid yellow;
	}

	&.incomplete {
		border: 1px solid gray;
	}

	&.complete {
		border: 1px solid green;
	}

	&.cancel {
		border: 1px solid red;
	}

	.status {
		// background: #888;
		// display: inline-block;
		// height: 100%;

		// flex-grow: ;
		// height: 100%;
		// flex-direction: column;
	}
	.info {
		// display: inline-block;

		margin-left: auto;
		text-align: right;
	}
}
