@mixin active-display($display) {
	display: none;

	&.active {
		display: $display;
	}
}

.recharge {
	display: flex;
	border: 3px solid grey;

	padding: 10px;

	align-items: center;


	width: 100%;
	max-width: 300px;

	margin-bottom: 0.2rem;
	&:last-child{
		margin-bottom: 0;
	}

	&.locked {
		border: 3px solid yellow;
	}

	// &.incomplete {
	// 	border: 3px solid gray;
	// }

	&.complete {
		border: 3px solid rgb(20, 226, 20);
	}

	&.cancel {
		border: 3px solid red;
	}

	.status {
		// background: #888;
		// display: inline-block;
		// height: 100%;

		// flex-grow: ;
		// height: 100%;
		// flex-direction: column;
	}
	.info {
		// display: inline-block;

		margin-left: auto;
		text-align: right;
	}
}
