@import "./mixins";
// ********************************************************************
//  							cada reloj dentro de clocks-app
// ********************************************************************

.watch {
	// display: inline-flex;

	background-color: var(--color-secondary-background);
	flex-direction: column;
	align-items: center;

	margin: 0.5rem;

	border-radius: 10px;
	width: 300px;
	// max-width: 450;
	// height: min-content;
	flex-grow: 1;

	user-select: none;

	box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 20%);

	// ********************************************************************
	//  						nav de la parte superior del relog
	// ********************************************************************

	.w-header {
		display: flex;

		align-items: center;
		.name {
			font-size: 25px;
			margin-left: 1rem;
		}
		button {
			border: none;
			@include button-size("small+");
			cursor: pointer;

			@include button-colors(
				var(--color-alpha-container),
				var(--color-alpha-container-hover),
				var(--color-alpha-container-action),
				var(--color-alpha-container-on)
			);

			// &:active span {
			// 	transform: scale(0.9);
			// 	transition: transform 0.01s;
			// }
			transition: transform 0.05s;
			&:active {
				transform: scale(0.9);
			}
		}
	}

	.delayed {
		@include active(block);
	}

	// ********************************************************************
	//  					form en donde estan los inputs de hrs mins sec
	// ********************************************************************
	.time-seted {
		@include active(block);
	}

	.set-time {
		@include active(flex);

		width: 100%;
		flex-grow: 1;
		align-items: center;

		input {
			&::-webkit-inner-spin-button,
			&::-webkit-outer-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

			flex-grow: 1;
			text-align: center;
			width: 10px;

			font-size: var(--font-size-large);
		}
	}

	// ********************************************************************
	//  								reloj donde se pone el tiempo
	// ********************************************************************

	.clock {
		text-align: center;
		font-size: var(--font-size-large);
	}

	// ********************************************************************
	// 								 botones controladores
	// ********************************************************************

	.controls_container {
		display: flex;

		button {
			@include button-size("midle");
			@include button-colors(
				var(--color-alpha-container),
				var(--color-alpha-container-hover),
				var(--color-alpha-container-action),
				var(--color-alpha-container-on)
			);

			@include active();
			cursor: pointer;

			border: none;
			flex-grow: 1;

			transition: transform 0.05s;
			&:active {
				transform: scale(0.9);
			}
		}

		.reset {
			color: red;

			&:disabled {
				color: gray;
			}
		}
	}

	// ********************************************************************
	//  								personalizacion para cada modo del relog
	// ********************************************************************

	&.stopwatch {
		// border: 3px solid hsl(234, 100%, 50%);
		background-color: hsla(187, 100%, 50%, 0.3);

		.set-time,
		.time-seted {
			display: none;
		}
	}

	&.timer {
		// border: 3px solid hsl(60, 100%, 50%);
		background-color: hsl(60, 100%, 50%, 0.3);
		outline: 5px solid rgba(255, 0, 0, 0);

		&.complete {
			animation-duration: 0.5s;
			animation-name: alert;
			animation-iteration-count: infinite;
			animation-direction: alternate;
		}

		.clock {
			@include active(block);
		}
	}
}

@keyframes alert {
	// 0% {
	// 	transform: rotateZ(0deg);

	// 	// outline: 5px solid rgb(255, 199, 95);
	// }
	// 25% {
	// 	transform: rotateZ(1deg);
	// 	outline: 5px solid rgb(255, 199, 95);
	// }
	// 75% {
	// 	transform: rotateZ(-1deg);
	// }
	// 100% {
	// 	transform: rotateZ(0deg);

	// 	// outline: 5px solid rgb(255, 199, 95);
	// }

	from {
	}
	to {
		// transform: scale(1.02);
		transform: translateY(-5px);

		outline: 3px solid yellow;
	}
}
